<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
    <script
   src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" > </script>
  <script src="{% static 'webpages/Js/Scrolling-tabs.js' %}"></script>
<script href="{% static 'webpages/Js/Test.js' %}"></script>
      <script src="{% static 'webpages/Js/st_demo.js' %}"></script>
  <link rel="stylesheet" href="{% static 'webpages/Scrolling-tabs.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/Fonts.css' %}">
    <link rel="stylesheet" href="{% static 'webpages/st_demo.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/Doubts.css' %}">
  <script src="{% static 'webpages/Js/Scrolling-tabs.js' %}"></script>
<link rel="stylesheet" href="{% static 'webpages/Js/jquery_flipster_min.css' %}">
<link rel="stylesheet" href="{% static 'webpages/Js/jquery_flipster.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'webpages/Index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/dist/css/bootstrap.min.css' %}" >
    <link rel="stylesheet" type="text/css" href="{% static 'webpages/css/dist/css/bootstrap.css' %}" >
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,700;1,600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'webpages/css/dist/css/bootstrap-theme.css' %}" >
    <title>Ekal Shiksha</title>

  </head>
  <body>
    <!-- 2nd Navbar Starts here-->
    <nav class="navbar navbar-default navbar-fixed-top nav1">
      <div class="container-fluid white" id='Lowerband'>
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
         <span class="sr-only">Toggle navigation</span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
         <span class="icon-bar"></span>
       </button>
   <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-left">
              <li><a href="{% url 'About' %}"><h4 class='navh4'>About us</h4></a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4 class='navh4'>Courses</h4> </a>
                        <ul  class="dropdown-menu dropdown-menu">
                          <li style='border-bottom: 0%; padding-top: 0%'><a href="{% url '6th' %}"><h5>Class 6th</h5></a></li>
                          <li><a href="{% url '7th' %}"><h5>class 7th</h5></a></li>
                          <li><a href="{% url '8th' %}"><h5>Class 8th</h5></a></li>
                          <li><a href="{% url '9th' %}"><h5 >Class 9th</h5></a></li>
                          <li><a href="{% url '10th' %}"><h5 >Class 10th</h5></a></li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle "><h5>Class 11th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '11th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '11th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '11th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                        </li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle"><h5>Class 12th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '12th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '12th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '12th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                          </li>
                          <!-- <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle"><h4 >Micro Course</h4> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '9th' %}"><h4 >Class 9th</h4></a></li>
                            <li><a href="{% url '10th' %}"><h4 >Class 10th</h5></a></li>
                            <li class="dropdown-submenu">
                            <a tabindex="-1" href="#" class="dropdown-submenu-toggle "><h5 >Class 11th</h5> </a>
                            <ul class="dropdown-menu ">
                              <li><a href="{% url '11th_Science' %}"><h5 >Science</h5></a></li>
                              <li><a href="{% url '11th_Commerce' %}"><h5 >Commerce</h5></a></li>
                              <li><a href="{% url '11th_Humanities' %}"><h5 >Arts</h5></a></li>
                            </ul>
                          </li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle "><h5 >Class 12th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '11th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '11th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '11th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                        </li>
                        </li>

                          </ul>
                          </li> -->
                          <li><li><a href='#'><h5 >English Speaking</h5></a></li></li>
                        </ul>
                          <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><h4 class='navh4'>Study Material</h4></a>
                          <ul class="dropdown-menu">
                            <li><a href="#"><h5 >Class 6th</h5></a></li>
                            <li><a href="#"><h5 >Class 7th</h5></a></li>
                            <li><a href="#"><h5 >Class 8th</h5></a></li>
                            <li><a href="#"><h5 >Class 9th</h5></a></li>
                            <li><a href="#"><h5 >Class 10th</h5></a></li>
                            <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle "><h5>Class 11th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '11th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '11th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '11th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                        </li>
                          <li class="dropdown-submenu">
                          <a tabindex="-1" href="#" class="dropdown-submenu-toggle"><h5>Class 12th</h5> </a>
                          <ul class="dropdown-menu ">
                            <li><a href="{% url '12th_Science' %}"><h5 >Science</h5></a></li>
                            <li><a href="{% url '12th_Commerce' %}"><h5 >Commerce</h5></a></li>
                            <li><a href="{% url '12th_Humanities' %}"><h5 >Arts</h5></a></li>
                          </ul>
                          </li>

                          </ul>
                          </li>
                  <li><a href="{% url 'Doubts' %}"><h4 class='navh4'>Doubt class</h4></a></li>
                  <!-- <li><a href="#"><h4>Competitions</h4></a></li> -->
                  <li><a href="#"><h4 class='navh4'>Teach with us</h4></a></li>
                  

            </div>
      </div>
  </ul>
  </nav>
  <!-- 1st navbar start here -->
  <nav class="navbar navbar-default navbar-fixed-top nav2">
  <div class="container-fluid">


    <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">

        <p><a href="{% url 'index' %}"><img class="pull-up" src="{% static 'webpages/images/Ekal_logo.png' %}" width='25%' alt='' ></p>
      </a>
    </a>
  </div>


    <!-- Collect the nav links, forms, and other content for toggling -->




  <div class="collapse navbar-collapse" id="navbar1">
      <ul id='pad'class="nav navbar-nav navbar-left ">

        <div class="row">
          <div class="col-xs-10 col-md-10 col-lg-10 ">
            <li id='pad' style='margin-left:0px;'><a href="#"><h4><span class="glyphicon glyphicon-search" aria-hidden="true"></span>  Enquiry  Now &nbsp;</h4> </a>



    </div>
    <div class="col-xs-2 col-md-2 col-lg-2 "></div>
  </div>

  </ul>

  <ul id='pad'class="nav navbar-nav navbar-left ">
  <div class="row">
  <div class="col-xs-10 col-md-10 col-lg-10">
  <li id='pad' style='margin-left:0px;'><a href="#" ><h4><span class="glyphicon glyphicon-user" aria-hidden="true"></span>  Sign In &nbsp;</h4> </a>
  </li></div>
  <div class="col-xs-2 col-md-2 col-lg-2 "></div>
  </div>

  </ul>
  <ul id='pad'class="nav navbar-nav navbar-left ">
  <div class="row">
  <div class="col-xs-10 col-md-10 col-lg-10"style="padding-right:0px;margin-right:0px;">
  <li id='pad' ><a href="tel:9716864415"><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>  9716864415 &nbsp; </a>
  </li></div>
  <div class="col-xs-2 col-md-2 col-lg-2 "></div>
  <div class="col-xs-10 col-md-10 col-lg-10">
  <li id='pad' ><a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcRzBWVHwwpBgTtmnMDMpQkrrhrZRHZGFhgBxJqMrBmbcdRghJMXzwLJlLtsjzDCJNcqwSLjv" ><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>  Contact@ekalshiksha.in &nbsp; </a>
  </li></div>
  <div class="col-xs-2 col-md-2 col-lg-2 "></div>
  </div>

  </ul>
  </div>
  </div>


  </nav>
<!-- Start for class 6 -->
<div class="container">
  <div class="jumbotron">


  <h1 id='class6th' style="font-family: crimson text; font-size: 450%">Class 6th</h1>
  <p style=" font-size: 150%">CBSE Class 6 marks a significant step in the learning path of a student’s school life as this grade acts as the foundation for the upcoming years of a student’s school life. A strong foundation can pave their ways for the future that will help them in raising much higher with confidence. There is always a sense of fear in the minds of the children regarding the hefty syllabus that they came across. But once the students are focused, no one can stop them from achieving greatness.
<br> Here, children are being taught how they can do an easy conceptualisation of Science, Mathematics, Social Science and English. Since the concepts of this grade are entirely new to the students, complete one on one guidance should be provided to them by the top subject matter experts otherwise, students may stumble on their paths due to which their base might become a little weak. <br>
To overcome the above difficulties, our expert faculty have prepared a quality study plan to generate life long success for the students by providing them with a standardised learning experience. By bringing them forth with Individual classes, they aim at improving their insight with relevant academic content.</p>
  </div>
  <br>
</div>
<!-- <div class="container">

<div class='row'>
  <div class="col-md-1">
  </div>
  <div class="col-md-5">
    <h1 class='para'>6th class course</h1>
  </div>
  <div class="col-md-5">
    <h1>Language Subject</h1>
  </div>
</div>
<div class='row'>
<div class="col-xs-1"></div>

<div class="col-xs-3 col-md-3">



    <div class="btn-group-lg btn-group-vertical">
      <button type="button" id="pre-reading-btn" class="btn btn-default">Maths</button>
      <br>
      <button type="button" id="passage-btn" class="btn btn-default">Science</button>
      <br>
      <button type="button" id="post-reading-btn" class="btn btn-default">SST</button>
    </div>

</div>
<div class="col-xs-3 col-md-3">
  <div class="btn-group-lg btn-group-vertical">
      <button type="button" id="pre-reading-btn" class="btn btn-default">English</button>
      <br>
      <button type="button" id="passage-btn" class="btn btn-default">IT</button>
      <br>
      <button type="button" id="post-reading-btn" class="btn btn-default">Sanskrit</button>
      <br>
    </div>

  </div>

  <div class="col-xs-3 col-md-3">
    <div class="btn-group-lg btn-group-vertical">
        <button type="button" class="btn btn-default">English</button>
        <br>
        <button type="button" class="btn btn-default">IT</button>
        <br>
        <button type="button" class="btn btn-default">Sanskrit</button>
        <br>
      </div>
    </div>
    <div class="col-md-2">
      <h1><br></h1>
        <button type="button" class="btn btn-primary btn-lg btn-huge">Coding classes</button>
        <br>
    </div>
</div>

</div> -->
<h1 class='para'>Subjects we Offer for your Exellence!!!</h1>

  <div class="container">
    <div class='row'>
      <div class='col-xs-0 col-md-2 col-lg-2'></div>
      <div class='col-xs-12 col-md-9 col-lg-9'>
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="#tab1" role="tab" data-toggle="tab"><h2>Mathematics</h2></a></li>
      <li role="presentation"><a href="#tab2" role="tab" data-toggle="tab"><h2>Science</h2></a></li>
      <li role="presentation"><a href="#tab3" role="tab" data-toggle="tab"><h2>Social Studies</h2></a></li>
      <li role="presentation"><a href="#tab4" role="tab" data-toggle="tab"><h2>English</h2></a></li>
      <!-- <li role="presentation"><a href="#tab5" role="tab" data-toggle="tab"><h2><font face="Crimson Text" size="6">Language Subjects</font></h2></a></li>
      <li role="presentation"><a href="#tab6" role="tab" data-toggle="tab"><h2><font face="Crimson Text" size="6">Coding Classes</font></h2></a></li> -->
    </ul>




    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab1">
        <br>
          <div class="item">
              <p id='smal' style="padding-top:4%;"><h3 style="font-family: crimson text; font-size: 250%">What a student learns in class 6 Mathematics?</h3><br>
              
              <p style=" font-size: 120%">The beginning of Class 6 Maths is initiated by introducing a child to new concepts of numbers.<br><br>
                 
                 <strong style="font-family: crimson text; font-size: 150%">CH-1</strong><br>
                Class 6 Maths Chapter 1 “Knowing Our Numbers” tells about numbers, their multiplication, division, number names, patterns, difference between digits and the numbers, place value system, etc. Further the understanding of the child is developed using different measuring units. Process and applications of Estimation has been described to a student in such a way that they can relate it to daily life examples. <br><br>

                <strong style="font-family: crimson text; font-size: 150%">CH-2</strong><br>
                Class 6 Maths Chapter 2 “Whole Numbers” discusses the properties of whole numbers which helps students to understand the mathematical operations in a better way. Divisibility tests and concepts of HCF and LCM are developed in a better way. <br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-3</strong><br>
                Class 6 Maths Chapter 3 “Playing with Numbers involves the understanding of dealing with brackets during Addition, Subtraction, multiplication and division. <br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-4</strong><br>
                Class 6 Maths Chapter 4 “Basic Geometrical Ideas” introduces the basic knowledge about angles, lines and how a shape depends upon these factors.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-5</strong><br>
                Class 6 Maths Chapter 5 “Understanding Elementary Shapes” discusses broad categorisation of the shapes formed using curves and lines. <br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-6</strong><br>
                Class 6 Maths Chapter 6 “Integers” is the knowledge about a new family of numbers that has been introduced for the first time.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-7</strong><br>
                Class 6 Maths Chapter “Fractions”focuses on what are different forms of numbers and how to deal with them and its application in daily life.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-8</strong><br>
                Class 6 Maths Chapter 8 “Decimals” focuses on what are different forms of numbers and how to deal with them and its application in daily life.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-9</strong><br>
               Class 6 Maths Chapter 9 “Data Handling” comes up with bar graphs and pie charts and adds interest to the learning process of the student.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-10</strong><br>
                Class 6 Maths Chapter 10 “Mensuration”  explains the concepts of Area and Perimeter with the help of things surrounding the child’s life.<br><br>


                 <strong style="font-family: crimson text; font-size: 150%">CH-11</strong><br>
                Class 6 Maths Chapter 11 “Algebra” teaches them the basic meaning of Algebra, what are variables and their significance.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-12</strong><br>
                Class 6 Maths Chapter 12 “Ratio and Proportion” introduces the meaning of terms ratio and proportion and its application in making comparisons. <br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-13</strong><br>
                Class 6 Maths Chapter 13 “Symmetry” is all about symmetrical shapes and understanding the division between different patterns and shapes.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-14</strong><br>
                Class 6 Maths Chapter 14 Practical Geometry makes a child familiar with different geometrical tools and in the way of doing basic constructions.<br><br>

                <strong style="font-family: crimson text; font-size: 150%">The textbook of Class 6 Maths all chapters guides teachers as well as students to understand the concept, reason behind the process rather than just memorizing it. Many opportunities are provided in textbooks where children will be verifying principles or patterns.</strong><br>
              
</p>
</p>
</div>

      </div>
      <div role="tabpanel" class="tab-pane" id="tab2">
        <br>
        <div class="item">
            <p id='smal' style="padding-top:4%;"><h3 style="font-family: crimson text; font-size: 250%">What Students study in class 6 science?</h3><br>
              
              <p style=" font-size: 120%">The aim of class 6 science book is to make a textbook companion for a child. Paheli and Boojho are the two characters who accompany the child throughout the textbook and help them to engage more with the content, questions, activities etc. class 6 science all chapters are comprehensive and interesting.<br><br>
                 
                 

                <strong style="font-family: crimson text; font-size: 150%">CH-1</strong><br>
                Class 6 science Chapter 1 discusses the different sources of food, plant parts and animal products like food and what animals eat.<br><br>

                <strong style="font-family: crimson text; font-size: 150%">CH-2</strong><br>
                Class 6 science chapter 2 informs about the components of food, balanced diet, various nutrients and their requirements in the body.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-3</strong><br>
                class 6 science Chapter 3 Fibre to Fabric tells about the different variety of fabrics, sources of different fibres, their formation and history of clothing material. <br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-4</strong><br>
                Class 6 Science Chapter 4 introduces a child to the concept and importance of classification. It tells about different materials around us and their properties.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-5</strong><br>
                Class 6 Science Chapter 5 deals with techniques of separation of different states of matter. <br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-6</strong><br>
                Class 6 Science Chapter 6 is a brief introduction to physical and chemical changes.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-7</strong><br>
                Class 6 Science Chapter 7 is about getting to know more about plants. It informs about different herbs, shrubs and trees and their various components.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-8</strong><br>
                Class 6 Science Chapter 8 deals with different Body Movements. It explains bones, joints and the structure of animals.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-9</strong><br>
               class 6 science Chapter 9 deals with the organisms and the surroundings where they live, habitat and adaptation, different life processes.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-10</strong><br>
                Class 6 Science Chapter 10 introduces the new concept of Motion and different techniques of measurement of distance.<br><br>


                 <strong style="font-family: crimson text; font-size: 150%">CH-11</strong><br>
                Class 6 Science Chapter 11 again brings along a new concept of Light, shadows and reflection. <br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-12</strong><br>
                Class 6 Science Chapter 12 is an introduction to the concept of electricity, how it is produced and what are circuits.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-13</strong><br>
                Class 6 Science Chapter 13 deals with the concept of magnets, how they were discovered, what are magnetic and non-magnetic materials. All these chapters will help a child to understand the different phenomenon and the reasons for the things they usually see around.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-14</strong><br>
                Class 6 Science Chapter 14 is all about resources of water, water cycle, ways to preserve water.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-15</strong><br>
                Class 6 Science Chapter 15 provides some information about the composition of air, availability of oxygen, carbon-di-oxide, nitrogen and other gases.<br><br>

                <strong style="font-family: crimson text; font-size: 150%">CH-16</strong><br>
               Class 6 Science Chapter 16 tells about the importance of the drainage system, how to deal with garbage and recycling methods.
</p>
</p>
      </div>
    </div>
        
        <div role="tabpanel" class="tab-pane" id="tab3">
        <div class="item">
       <p id='smal' style="padding-top:4%;"><strong style="font-family: crimson text; font-size: 180%">
The syllabus of social studies is divided into three major parts namely History, Civics and Geography. In class 6 SST, all chapters are formulated to enhance student’s basic awareness and lifestyle.
</strong><br><br>
          <h3 style="font-family: crimson text; font-size: 200%">Geography – The Earth Our Habitat <br> What all chapters are combined in Class 6 Geography?

</h3><br>
              
              <p style=" font-size: 120%">

                 
                

                <strong style="font-family: crimson text; font-size: 150%">CH-1</strong><br>
                Class 6 sst geography Chapter 1, The Earth in Our Solar System focuses on learning about the sun, planets, and some celestial bodies that form the solar system. 
 <br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-2</strong><br>
                Class 6 sst geography Chapter 2 focuses on the child becoming familiar with the Globe latitudes and longitudes.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-3</strong><br>
               Class 6 sst geography Chapter 3 provides the  meaning of rotation and revolution is given and the child learns about Motions of Earth.  <br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-4</strong><br>
                Class 6 sst geography Chapter 4 describes the need and use of maps.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-5</strong><br>
                Class 6 sst geography chapter 5 explains The Domains of Earth namely - lithosphere, atmosphere, hydrosphere and biosphere.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-6</strong><br>
                In Class 6 sst geography Chapter 6 The Landforms of Earth are explained.
<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-7&8</strong><br>
                At last, Class 6 sst geography Chapter 7 and Chapter 8 focus on location, climate, vegetation and wildlife of India.
<br><br>

                 <b>Class 6 SST all chapter pdf are available of all the chapters at EKAL shiksha for free which promotes practical learning.</b>
                 <br><br>

                 <strong style="font-family: crimson text; font-size: 200%">History - Our Past I<br>What class 6 History book is all about?
</strong><br>
                


                 <strong style="font-family: crimson text; font-size: 150%">CH-1</strong><br>
                While studying, Class 6 SST history Chapter 1 answers the questions of What, where, how and when about the past.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-2</strong><br>
               Class 6 SST history Chapter 2 evolution of humans is explained from being hunters and gatherers to growing food on their own.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-3</strong><br>
                Class 6 SST history Chapter 3 informs about the establishment of the Earliest Cities.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-4</strong><br>
                Class 6 SST history Chapter 4 talks about an important source of history The Books and the Burials which helps us to know more about the past.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-5</strong><br>
                Then, Class 6 SST history Chapter 5 tells about the Kingdoms, Kings, and an Early Republic. It explains about the administrative system in the past. <br><br>

                <strong style="font-family: crimson text; font-size: 150%">CH-6</strong><br>
                Class 6 SST history Chapter 6 concentrates on the new questions and the ideas that prevailed in the past related to religion, language etc.<br><br>

                <strong style="font-family: crimson text; font-size: 150%">CH-7</strong><br>
                Class 6 SST history Chapter 7 is based on the story of a Great Emperor Ashoka and his Empire. 
<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-8</strong><br>
               Class 6 SST history Chapter 8 focuses on establishment of Vital Villages and Thriving Towns.<br><br>

               <strong style="font-family: crimson text; font-size: 150%">CH-9</strong><br>
              Next, Class 6 SST history chapter 9 discusses the establishment of trade, traders, kings and the pilgrims. 
<br><br>

               <strong style="font-family: crimson text; font-size: 150%">CH-10&11</strong><br>
              At last, Class 6 SST history Chapter 10 and 11 are based upon the New Empires and Kingdoms and the buildings, paintings and books of that period.  
<br><br>
                 <b>All the chapters in NCERT class 6 SST contain a short text, storyline which will help a child to relate all the concepts of past with the present time. Class 6 History all chapter PDF will help them to understand how things were in the past and how they have changed now. </b><br><br>

                 <strong style="font-family: crimson text; font-size: 200%">Civics- Social and Political Life I<br>What all topics are covered in class 6 Civics ( Social and Political life I)?
</strong><br>
                 Class 6 sst civics includes various chapters that discuss social and political life deeply with respect to communal issues. 
<br><br>


                 <strong style="font-family: crimson text; font-size: 150%">CH-1&2</strong><br>
                Class 6 Civics Chapter 1 and 2 introduces the child the meaning and concept of Diversity and the Discrimination people have to face.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-3&4</strong><br>
               Next, Class 6 Civics Chapter 3 and 4 focuses on the meaning of Government and the key elements of Democratic Government. <br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-5</strong><br>
                Class 6 Civics Chapter 5 is all about the Panchayati Raj.<br><br>

                 <strong style="font-family: crimson text; font-size: 150%">CH-6,7,8,9</strong><br>
                Class 6 Civics chapter 6, 7, 8 and 9, the child learns about the differences in livelihood and administration of Rural and Urban Areas.<br><br>

<b>
Class 6 SST all chapter pdf are available for student’s ease for a better insight and growth that carries forward their future with good marks.
</b>
<br><br>
</p>

</p>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="tab4">
        <br>
          <p id='smal'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>



      <div role="tabpanel" class="tab-pane" id="tab5">
        <p id='smal'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
      <div role="tabpanel" class="tab-pane" id="tab6">
        <p id='smal'>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
  </div>
  </div>
<!-- Slider starts here -->

<h1 class='para'>What we have for your child...</h1>
<div class="my-flipster">
    <ul>
        <li data-flip-title="Item 1 Title" data-flip-category="Category 1"><img class='responsive' src="{% static 'webpages/images/1 (2).png' %}" alt=""></li>
        <li data-flip-title="Item 2 Title" data-flip-category="Category 1"><img class='responsive' src="{% static 'webpages/images/2 (2).png' %}" alt=""></li>
       <li data-flip-title="Item 3 Title" data-flip-category="Category 2"><img  class='responsive'src="{% static 'webpages/images/3 (2).png' %}" alt=""></li>
        <li data-flip-title="Item 4 Title" data-flip-category="Category 2"><img  class='responsive'src="{% static 'webpages/images/4 (2).png' %}" alt=""></li>
        <li data-flip-title="Item 5 Title" data-flip-category="Category 2"><img class='responsive'src="{% static 'webpages/images/5 (2).png' %}" alt=""></li>
        <li data-flip-title="Item 6 Title" data-flip-category="Category 2"><img class='responsive'src="{% static 'webpages/images/6 (2).png' %}" alt=""></li>
        <li data-flip-title="Item 7 Title" data-flip-category="Category 2"><img class='responsive'src="{% static 'webpages/images/7 (2).png' %}" alt=""></li>
        <li data-flip-title="Item 8 Title" data-flip-category="Category 2"><img class='responsive'src="{% static 'webpages/images/8 (2).png' %}" alt=""></li>
    </ul>
</div>

  <h1 class="para" style="font-family: crimson text; font-size: 450%">Road Map to your success</h1>
  <img src="{% static 'webpages/images/RoadMap.png' %}" width="100%" alt="">
</div>
<br>
<div class="jumbotron white" id='Lowerband'>
    <h1 class='para' style="font-family: crimson text; font-size: 550%">Take your free counseling</h1>
    <div class="row" style='margin-right:0px;'>
      <div class="col-xs-4 col-lg-5"></div>
      <div class="col-xs-4 col-lg-5">
        <a href="#">
          <button class="btn btn-danger btn-lg" type="button" name="button">Join us for free!!!</button>
        </a>
      </div>
      <div class="col-xs-4 col-lg-5"></div>
    </div>
  </div>

<footer class="footer-bs">
           <div class="row">
            <div class="col-md-3 footer-brand animated fadeInLeft">
              <div class="item">
                <h2>Logo</h2>
                   <p>Ekal Shiksha is an Ed-tech company which provides one on one individual online classes. It is an initiative which aims to revolutionize the standard teaching and learning methods. We believe that each student has his or her personal learning speed, method and curriculum which is very important for a teacher to understand and personalize their teaching methods according to the students not vice versa. This platform is especially built for those who have immense potential but are never focused on in group classes, the growth of such students is our moto.

<br>We have been in the teaching industry for past four years, catered to more than 1000s of students till the date. We are unique in a manner that we not only provide tuitions but also we make sure that the performance of each student is tracked through our LMS system and they get to check their clearity of concepts by the MCQs provided after each concept is taught. We have adopted the EAD approach for the better learning, understanding and self assessing of students. We are in a way parent friendly and make sure that the parents are kept in loop for each activity of the student and the teacher.

<br>We have accommodated the best of talented teachers from all across the India for students who believe in learning beyond a classroom. We are a one step solution for all those parents who worry about their kid not being focused enough in group classes, for those who believe that their child can do far better if focused a little more, for those who worry for their kid’s safety when they are at work and their child alone with a teacher at home, for those who worry sending their child to coaching at odd hours and most of all for those who not only believe in passing but in learning.</p>
</div>
               </div>
            <div class="col-md-6 footer-nav animated fadeInUp">
                <h4 class='para'>Menu —</h4>
                <div class="col-md-4">
                       <ul class="list">
                           <li><a href="{% url '6th' %}">Class 6th</a></li>
                           <li><a href="{% url '7th' %}">Class 7th</a></li>
                           <li><a href="{% url '8th' %}">Class 8th</a></li>
                           <li><a href="{% url '9th' %}">Class 9th</a></li>
                           <li><a href="{% url '10th' %}">Class 10th</a></li>
                           <li><a href="{% url '11th_Science' %}">Class 11th Science</a></li>
                           <li><a href="{% url '11th_Commerce' %}">Class 11th Commerce</a></li>
                         </ul>
                       </div>
                           <div class="col-md-4">
                                  <ul class="list">

                           <li><a href="{% url '11th_Humanities' %}">Class 11th Humanities</a></li>
                           <li><a href="{% url '12th_Science' %}">Class 12th Science</a></li>
                           <li><a href="{% url '12th_Commerce' %}">Class 12th Commerce</a></li>
                           <li><a href="{% url '12th_Humanities' %}">Class 12th Humanities</a></li>
                       </ul>
                   </div>
                <div class="col-md-4">
                       <ul class="list">
                           <li><a href="#">About Us</a></li>
                           <li><a href="#">Contacts</a></li>
                           <li><a href="#">Terms & Condition</a></li>
                           <li><a href="#">Privacy Policy</a></li>
                       </ul>
                   </div>
               </div>
            <div class="col-md-3 footer-social animated fadeInDown">
                <h4>Follow Us</h4>
                <ul>
                    <li><a href="https://www.facebook.com/ekalshiksha/">Facebook</a></li>
                    <li><a href="https://twitter.com/ekalshiksha?lang=en">Twitter</a></li>
                    <li><a href="https://www.instagram.com/ekal_shiksha/" target="_blank">Instagram</a></li>
                    <li><a href="https://www.linkedin.com/company/ekal-shiksha/?originalSubdomain=in">Linkdin</a></li>
                   </ul>
               </div>
            </div>
       </footer>

</body>

<script src="{% static 'webpages/Js/ReadMore.js' %}"></script>
<script src="{% static 'webpages/Js/jquery_flipster_min.js' %}"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</html>
