h1{

	font-size: 2em;
	font-family: crimson text !important;
}
h4{
	 font-family: crimson text !important;
}
h2{
	font-size: 1.5em;
	font-family: crimson text !important;
}

h3{
	font-size: 1.17em;
	font-family: crimson text !important;
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 1.8em !important;
    font-family: crimson text;
  }
  h4{
  	font-size: 0.5em;
  	font-family: crimson text;
  }
}
p{
	font-family: Tahoma !important;
}
.navh4{
	font-size:150%;
}

/* .im img{
	width:40%;
} */
